.DS_Store

.settings/
.classpath
.project

.idea/

*.iml
*.ipr
*.iws

target

work/git-rebase/*
work/svninfo.ftl
work/gitinfo.ftl
work/test-list-build.xml
work/logs/access_log.*
work/logs/cobertura-base.dat
work/logs/cobertura-components.dat
work/logs/cobertura-report
work/logs/*.log*
work/logs/*.html*
work/logs/test-results/*
/work/logs/birt
work/data/derby/*
work/data/utilcache.*
work/catalina/work/*
work/jetty
work/tempfiles/*
